.grid-item-contacts {
  grid-row: 8;
  grid-column: 4;
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-contacts {
    grid-column: 8 / span 5;
    grid-row: 10 / span 3;
  }
}
