.grid-item-qa {
  grid-row: 5 / span 5;
  grid-column: 1;
  & div {
    text-transform: uppercase;
  }
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-qa {
    grid-column: 1 / span 5;
    grid-row: 18 / span 6;
  }
}
