.flip-card {
  background-color: transparent;
  perspective: 1000px;

  &:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  &-front,
  &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  & &-back {
    transform: rotateY(180deg);
    background-color: #fff;
    align-items: flex-start;
    text-transform: none;
    color: $black;
    font-weight: bold;

    & span {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 1.5vw;
      text-align: left;
    }
  }
}
