.grid-item-php {
  grid-row: 1 / span 3;
  grid-column: 3 / span 2;
  font-style: italic;
  & div {
    color: $black;
    text-transform: unset;
  }
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-php {
    grid-column: 6 / span 5;
    grid-row: 13 / span 6;
  }
}
