.p-fixed {
  position: fixed;
  height: 69px;
  width: 100vw;
  z-index: 999;
  box-shadow: 1px 1px 5px $gray;
}

.animated {
  animation: fadeIn 0.3s ease-in both;
}

.bg-white {
  background-color: $white;
}

.bg-js {
  background-color: $grid-js-bg;
}

.bg-qa {
  background-color: $grid-qa-bg;
}

.bg-binary-studio {
  background-color: $grid-binary-studio-bg;
}

.bg-java {
  background-color: $grid-java-bg;
}

.bg-php {
  background-color: $grid-php-bg;
}

.bg-dotnet {
  background-color: $grid-dotnet-bg;
}

.bg-events {
  background-color: $grid-events-bg;
}

.bg-blog {
  background-color: $grid-blog-bg;
}

.bg-contacts {
  background-color: $grid-contacts-bg;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &-primary {
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
}

.horizontal-vertical-center {
  justify-content: center !important;
  align-items: center !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
