body {
  font-family: Sans-serif;
  user-select: none;
  background-color: $main_background;
}
.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.h-100 {
  height: 100%;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.noselect {
  user-select: none;
}

.rotate-backward {
  transform: rotateY(-180deg);
}

@media (min-width: $breakpoint-phone) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: $breakpoint-lg-tablet) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    max-width: 1140px;
  }
}
