$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-lg-tablet: 992px;
$breakpoint-desktop: 1200px;

// Colors
$main_background: #f8f9fc;
$gray: #bec9da;

$white: #fff;
$black: #000;
$orange: #f7a43e;
$blue: #2e99fe;

$icon: #bec9da;
$icon_hover: #888f9b;

// Padding
$default_padding: 6px 14px;

// Grid item's colors
$grid-binary-studio-bg: #fff;
$grid-qa-bg: #52bf77;
$grid-js-bg: #fec713;
$grid-java-bg: #e12c4c;
$grid-php-bg: #8992bf;
$grid-dotnet-bg: #6d2e7f;
$grid-events-bg: #2e99fe;
$grid-blog-bg: #0444a3;
$grid-contacts-bg: #00265e;

$error: #c3534e;
$success: #6bab69;
$warning: #f7a045;
