.grid-item-js {
  grid-column: 2;
  grid-row: 1 / span 6;
  font-weight: bold;
  & div {
    color: $black;
    justify-content: flex-end;
    align-items: flex-end;
    text-transform: uppercase;
  }
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-js {
    grid-column: 5 / span 3;
    grid-row: 1 / span 12;
  }
}
