.dropdown {
  display: none;
  position: absolute;
  right: 0;
  bottom: -117px;
  border-radius: 1px;
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.1);
  background-color: $white;
  padding: $default_padding;
  z-index: 999;

  &-title {
    position: relative;
    color: $gray;
    padding: $default_padding;
    font-size: 12px;
    &:after {
      content: " ";
      height: 1px;
      width: 100%;
      background-color: $gray;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &-list {
    list-style-type: none;
    padding: 0;
    margin: 3px 0 0;
  }

  &-item {
    padding: 6px 4px;
    cursor: pointer;

    &:hover {
      background-color: $main_background;
      border-radius: 1px;
    }
  }
}

#dropdown-trigger {
  display: none;

  &:checked + .dropdown {
    display: block;
  }
}
