.grid-item-blog {
  grid-column: 4;
  grid-row: 6 / span 2;
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-blog {
    grid-column: 8 / span 5;
    grid-row: 5 / span 5;
  }
}
