.resize-card {
  background-color: $white;
  display: block;
  position: relative;

  &-front,
  &-back {
    position: absolute;
    width: 100%;
    max-width: 100%;
  }

  & &-front {
    z-index: 99;
    font-size: 4vw;
    &-java {
      max-height: 100%;
      bottom: 0;
      font-size: 3vw;
      transition: max-height 0.2s ease-out;
    }
    &-php {
      max-height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      transition: max-height 0.2s, width 0.2s ease-out;
    }

    &-dotnet {
      max-height: 100%;
      width: 100%;
      bottom: 0;
      right: 0;
      transition: max-height 0.2s, width 0.2s ease-out;
    }

    &-events,
    &-blog,
    &-contacts {
      width: 100%;
      right: 0;
      transition: width 0.2s ease-out;
      font-size: 1.2vw;
    }
  }

  & &-back {
    z-index: 9;
    color: $black;
    font-size: 1.5vw;
    font-weight: bold;
    font-style: normal;

    &-events,
    &-blog,
    &-contacts {
      overflow-y: scroll;
      font-size: 1vw;
      font-weight: normal;
      text-transform: none;
    }
  }

  &:hover .resize-card-front {
    font-size: 0;
    &-java {
      max-height: 0;
      transition: max-height 0.2s ease-in;
    }
    &-php,
    &-dotnet {
      max-height: 0;
      width: 0;
      transition: max-height 0.2s, width 0.2s ease-in;
    }

    &-events,
    &-blog,
    &-contacts {
      width: 0;
      transition: width 0.2s ease-in;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .resize-card {
    & &-back {
      font-size: 1vw;
    }
  }
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .resize-card {
    & &-front {
      font-size: 3vw;

      &-php {
        font-size: 5vw;
      }

      &-events,
      &-blog,
      &-contacts {
        font-size: 1.8vw;
      }
    }

    & &-back {
      font-size: 1vw;
    }
  }
}
