.grid-item-java {
  grid-column: 2;
  grid-row: 7 / span 2;
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-java {
    grid-column: 1 / span 5;
    grid-row: 13 / span 6;
  }
}
