.grid {
  display: grid;
  padding: 24px 0 88px;
  grid-template-columns: 1fr 1fr 1.5fr 0.75fr;
  grid-template-rows: repeat(8, 4vw);
  font-size: 4vw;
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(24, 2vw);
  }
}
