.grid-item-dotnet {
  grid-column: 3;
  grid-row: 4 / span 5;
  & div {
    text-transform: uppercase;
  }
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-dotnet {
    grid-column: 6 / span 5;
    grid-row: 19 / span 5;
  }
}
