.grid-item-events {
  grid-column: 4;
  grid-row: 4 / span 2;
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-events {
    grid-column: 8 / span 4;
    grid-row: 1 / span 4;
  }
}
