.grid-item-binary-studio {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-lg-tablet) {
  .grid-item-binary-studio {
    grid-column: 1 / span 4;
    grid-row: 1 / span 12;
  }
}
