.notification {
  padding: 10px 0 10px 52px;
  border-radius: 4px;
  color: $white;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 15px;
  position: relative;

  &-title {
    font-weight: bold;
    padding-bottom: 4px;
  }

  &-message {
    font-weight: 100;
  }

  &:before {
    font-family: FontAwesome;

    display: inline-block;
    position: absolute;
    top: 35%;
    left: 20px;
    font-size: 20px;
  }

  &-error {
    background-color: $error;
    &:before {
      content: "\f06a";
    }
  }

  &-success {
    background-color: $success;
    &:before {
      content: "\f058";
    }
  }

  &-warning {
    background-color: $warning;
    &:before {
      content: "\f058";
    }
  }
}
